postgresql:
  enabled: false

#   teamId: "uds"
#   volume:
#     size: "1Gi"
#   numberOfInstances: 2
#   users:
#     myuser: []  # database owner
#     # youruser: []  # database owner
#   databases:
#     mydb: myuser
#     yourdb: youruser
#   version: "13"
#   ingress:
#     remoteGenerated: Anywhere
