# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

ambient: true

postgresql:
  enabled: false
  parameters: []
  ingress: []
  resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 100m
      memory: 100Mi
  additionalVolumes: []
  env: []

# Example values for postgresql
# 
# postgresql:
#   enabled: true
#   teamId: "uds"
#   volume:
#     size: "1Gi"
#   numberOfInstances: 2
#   users:
#     mynamespace.myuser: []  # database owner
#     # yournamespace.youruser: []  # database owner
#   databases:
#     mydb: mynamespace.myuser
#     yourdb: yournamespace.youruser
#   extensions:
#     mydb: ["postgis","hstore"] # database extensions
#   version: "14"
#   ingress:
#     - remoteGenerated: Anywhere
# or
#   ingress:
#     - remoteNamespace: tempo
#       remoteSelector:
#         app.kubernetes.io/name: tempo

job:
  # Job image to use for running extension loading jobs (e.g. ghcr.io/zalando/spilo-17:4.0-p2 - needs the psql client)
  image: ""

additionalNetworkAllow: []
  # - direction: Egress
  #   selector:
  #     app.kubernetes.io/name: postgres-operator
  #   remoteNamespace: acid
  #   remoteSelector:
  #     cluster-name: pg-cluster
  #   description: "Egress to a non-default pg cluster"
