{{- if .Values.postgresql.enabled }}
apiVersion: acid.zalan.do/v1
kind: postgresql
metadata:
  name: pg-cluster
  namespace: postgres
spec:
  teamId: {{ .Values.postgresql.teamId | quote }}
  volume:
    size: {{ .Values.postgresql.volume.size | quote }}
  numberOfInstances: {{ .Values.postgresql.numberOfInstances }}
  users:
    {{- toYaml .Values.postgresql.users | nindent 4 }} # database owner
  databases:
    {{- toYaml .Values.postgresql.databases | nindent 4 }}
  postgresql:
    version: {{ .Values.postgresql.version | quote }}
  sidecars:
    - name: "exporter"
      image: {{ .Values.metrics | quote }}
      ports:
        - name: exporter
          containerPort: 9187
          protocol: TCP
      resources:
        limits:
          cpu: 500m
          memory: 256M
        requests:
          cpu: 100m
          memory: 200M
      securityContext:
        runAsUser: 37
        runAsGroup: 37
      env:
        - name: "DATA_SOURCE_URI"
          value: "$(POD_NAME)/postgres"
        - name: "DATA_SOURCE_USER"
          valueFrom:
            secretKeyRef:
              name: postgres.pg-cluster.credentials.postgresql.acid.zalan.do
              key: username
        - name: "DATA_SOURCE_PASS"
          valueFrom:
            secretKeyRef:
              name: postgres.pg-cluster.credentials.postgresql.acid.zalan.do
              key: password
{{- end }}
