# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

apiVersion: uds.dev/v1alpha1
kind: Package
metadata:
  name: postgres-operator
  namespace: {{ .Release.Namespace }}
spec:
  network:
    allow:
      {{- if .Values.postgresql.enabled }}
      - direction: Egress
        selector:
          app.kubernetes.io/name: postgres-operator
        remoteNamespace: postgres
        remoteSelector:
          cluster-name: pg-cluster
      {{- end }}

      - direction: Egress
        selector:
          app.kubernetes.io/name: postgres-operator
        remoteGenerated: KubeAPI

      # Custom rules for other scenarios (such as connecting to a non-default pg cluster)
      {{- range .Values.additionalNetworkAllow }}
      - direction: {{ .direction }}
        selector:
          {{ .selector | toYaml | nindent 10 }}
        {{- if not .remoteGenerated }}
        remoteNamespace: {{ .remoteNamespace }}
        remoteSelector:
          {{ .remoteSelector | toYaml | nindent 10 }}
        port: {{ .port }}
        {{- else }}
        remoteGenerated: {{ .remoteGenerated }}
        {{- end }}
        description: {{ .description }}
      {{- end }}
